<div class="text-center p-2 m-3 col-12">

    <mat-form-field class="my-width col-12" hintLabel="ex. people/1">
        <span matPrefix>https://swapi.co/api/&nbsp;</span>
        <input matInput placeholder="Place string here" [(ngModel)]="inputString" (keyup)="getResult()">
    </mat-form-field>

</div>

<mat-card *ngIf="notFound && !isEmpty" class="alert alert-danger">
    Item not found !!
</mat-card>


<div *ngIf="!notFound && !isEmpty" class="row" id="resultArea" cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of resultSet" class="p-2 col-12 col-sm-12 col-md-4 col-lg-3" cdkDrag [cdkDragData]="item">
        <mat-card class="m-1">
            <mat-card-title class="alert alert-success text-center"> {{item.name}} </mat-card-title>
            <mat-chip-list>
                <mat-chip color="primary" selected>Gender : {{item.gender}}</mat-chip>
            </mat-chip-list>

            <mat-card-content class="mt-2">

                <mat-list>
                    <mat-list-item class="card-text pl-3">
                        URL : <a [href]="item.url" target="_blank">{{item.name}}</a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="card-text pl-3">
                        Height : {{item.height}} cm
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="card-text pl-3">
                        <a [href]="item.homeworld" target="_blank">Homeworld</a>
                    </mat-list-item>
                </mat-list>

            </mat-card-content>
        </mat-card>
    </div>

</div>