.my-width {
    width: 50%;
}

.male-header-image {
    background-image: url('../../assets/male.jpg');
    background-size: cover;
}

.female-header-image {
    background-image: url('../../assets/female.jpg');
    background-size: cover;
}

.unknown-header-image {
    background-image: url('../../assets/unknown.jpg');
    background-size: cover;
}